body {
width: 100%;
height: 100%;
margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
width: 100%;
background-color:#008080;
height: 60px;
}
main, .content {
margin: 0 auto;
width: 980px;
position: relative;
}
.logo{
    float: left;
margin-left: 11px;
padding: 1px;
width: 69%
}
.redes-sociais ul li {
padding: 17px;
width: 1%;
display: inline-block;
float: left;
list-style: none;
}
.header-2 {
background-color: #ffffff;
width: 980px;
margin: 0 auto;
padding: 16px;
}
.menu-urls {
height: 80px;
border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    margin-left: 15px;
    height: 50px;
}
.menu ul li:hover {
    border-bottom: 5px solid #00c5b5;
}
.menu ul li a:hover {
    color:#008b8b;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
.menu {
width: 62%;
float: left;
}
.busca {
    width: 38%;
    float: right;
    text-align: center;
}
.busca input{
background-image: url('../img/lupa.png');
background-size: 24px;
background-repeat: no-repeat;
background-position: 96%;
border: 1px solid  #929292;
height: 36px;
margin-top: 10px;
padding-left: 7px;
width: 190px;
}
.col-100 {
width: 100%;
float: left;
position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 60px;
    height: 80px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/Seta esquerda432.png');
    top: 35%;
    left: 5%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 60px;
    height: 80px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/Seta\ direita432.png');
    top: 35%;
    right: 7%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 4px solid #ffffff;
    width: 22px;
    height: 22px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 466px;
}
li.slick-active button {
    background:#008080;
}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}
.texto-destaque h1:hover {
    color:#005a5a;
}
.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #2e2e2e
}
.texto-destaque {
    text-align: center;
}
.texto-destaque p:hover {
    color:#008b8b;
}
.texto-destaque p {
    font-size: 20px;
    color:#929292
}
.col-3 h2:hover {
    color:#005a5a;
}
.col-3 h2 {
    color: #2e2e2e
}
.col-3 {
    padding-left: 19px;
    padding-right: 15px;
    width: 29%;
    height: 29%;
    float: left;
    position: relative;
}

.bloco-texto {
    margin-top: 2em;
}
.bloco-brasão {
    margin-top: 10em;
}
.block-end{
background-color:#008080;
margin: 0 auto;
width: 100%;
height: 60px;
position:absolute;
top: 510px
}
.col-4 img {
    padding-left: 295px;
    float: left;
}
.col-4 img {
margin: 0 auto;
position: relative;
}
.col-4 img:hover {
    margin-top: 5px!important;
    position: relative!important;
}
.busca 